*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
**/.DS_Store
/.idea/gradle.xml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/deploymentTargetDropDown.xml
/.idea/render.experimental.xml
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/
build/
*.log
*.hprof
captures/
.externalNativeBuild
.cxx
*.keystore
!debug.keystore
*.jks
*.pro
proguard/
.navigation/
local.properties
